@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}


body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.Header , .Footer{
  width: 100%;
  color : #333;
  background-color: #66d8f5;
}
.Footer{
  display: grid;
  place-content: center;
}

.Header > h1 {
  font-size: 2.7rem;
  margin-left: 1rem;
}

.searchForm{
  width: 50%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav{
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}



.nav__list{
  color : White;
  display: flex;
  font-size: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.list-items{
  padding: 1.5rem;
  
}
.list-items :hover, .list-items :focus{
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.icons{
  color:#fff
}

Link:hover {
  background-color: yellow;
}

.video-items {
  display: grid;
  row-gap: 80px;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin: auto;
  list-style: none;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr  1fr ;
}

.Home{
  display: flex;
  margin-bottom: 100px;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  gap: 10px;


  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; 
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

main{
  min-height: 100vh;
}

.videoList {
  position: relative;
  width: 90%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .videoList a {
  text-decoration: none;
}

.Home .videoList a, 
.Home .videoList a:visited {
  color: #000;
}

.videoList:first-child {
  margin-top: 0;
}

.videoList:last-child {
  border-bottom: none;
}


.playerPage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem; 
  grid-gap: 50px;

}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likedVideo{
  display: grid;

  row-gap: 80px;
  width: 100%;
  justify-items: center;
  margin: auto;
  list-style: none;
  margin-top: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.float-btn {
  position: relative;
  margin-top: 2rem;
}

.cross-btn{
  width: 30px;
  position: absolute;
  right: 0px;
  top : -30px;
}

.playerBtn{
  display: flex;
  background-color: #333;
  flex-direction: row;
  justify-content: space-around;
  gap : 50px;
  font-size: 50px;
}

.btns{
  font-size: 2rem;
}
.btn:hover , .btn:focus {
  background-color: #eee;
  color: #333;
}

.NewPlayList{
  display: flex;
  flex-direction: column;
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.watchHistory{
  display: grid;
  list-style: none;
  row-gap: 80px;
  width: 100%;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr;
}

.playList{
  width: 100%;
  list-style: none;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

   
 .registerForm{
  flex-grow: 1;
 }



   .loginForm{
    flex-grow: 1;
    align-items: center;

   }


@media only screen and (min-width: 610px) {
  
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }
}


@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}